<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <p>Peace of mind from prototype to production</p>
</section>

<section class="row">
  <article class="column">
    <h2>Task 1</h2>
    <%= link "Task 1", to: Routes.page_path(@conn, :task_1)  %>
  </article>
  <article class="column">
    <h2>Task 2</h2>
    <%= link "Task 2", to: Routes.page_path(@conn, :task_2)  %>
  </article>
</section>